<div class="row">
  <div class="col-md-5">

<form [formGroup]="this.customerService.form" (ngSubmit)="onSubmit()">
<input type="hidden" formControlName="$key">

<div class="form-group">
  <label>Full Name</label>
  <input formControlName="fullName" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.fullName.errors}">
<div class="invalid-feedback" *ngIf="submitted && formControls.fullName.errors">
  <label *ngIf="formControls.fullName.errors">Name is Required</label>
</div>

</div>

<div class="form-group">
 <label>Email</label>
 <input formControlName="email" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.email.errors}">
 <div class="invalid-feedback" *ngIf="submitted && formControls.email.errors">
  <label *ngIf="formControls.email.errors.required">Email is Required</label>
  <label *ngIf="formControls.email.errors.email">Email is Not Valid</label>
</div>
</div>

<div class="form-group">
  <label>Mobile</label>
  <input formControlName="mobile" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.mobile.errors}">
  <div class="invalid-feedback" *ngIf="submitted && formControls.mobile.errors">
    <label *ngIf="formControls.mobile.errors.required">Mobile is Required</label>
    <label *ngIf="formControls.mobile.errors.minlength">Atleast 8 numbers</label>
  </div>
</div>

<div class="form-group">
  <label>Location</label>
  <input formControlName="location" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.location.errors}">
  <div class="invalid-feedback" *ngIf="submitted && formControls.location.errors">
    This Field is required
  </div>
</div>

<div class="form-group">
  <button type="submit" class="btn btn-primary" value="Submit">Sumbit Quick</button>
</div>

</form>

<div class="alert alert-info" *ngIf="successMsg">Successfully Sumbitted</div>
    
  </div>
  <div class="col-md-7">
    <app-customer-list>

    </app-customer-list>
  </div>
</div>